.card {
  margin: 80px 200px;
  padding: 15px 30px 50px;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.row {
  display: flex;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
h1 {
  font-size: x-large;
}
h2,
h3 {
  font-size: unset;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 350;
  line-height: 1;
}
